.wrapper {
    display: flex;
    width: fit-content;
    justify-content: center;
    box-shadow: var(--shadow-content);
    border-radius: 5px;
    overflow: hidden;
    transition: 100ms;
}

.searchBar {
    background: var(--color-input-bg);
    border: none;
    width: 500px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    font-size: 15px;
    transition: 200ms;
}

.btn {
    padding: 10px 15px;
    border: none;
    background: rgb(6, 112, 199);
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    transition: 500ms;
}

.btn:hover {
    background-color: rgb(6, 82, 144);
}